<% if @subject.errors.any? %>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <ul>
    <% @subject.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<% end %>

<%= form_with(model: [ :admins_backoffice, @subject ], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control", placeholder: "Digite um novo assunto/área" %>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
<% end %>